@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:wght@600;700&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}


body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

i.symbol {
  font-family: var(--font-family-symbols);
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
